.article-list {
	margin: 5px;
}

.article {
	padding: 5px;
	margin: 5px;
	background-color: #f4abd7;
}

header {
	padding: 20px;
	background-color: #f464b9;
	display: flex;
	align-items: center;
}

button {
	margin: 5px;
}